<div class="row">
    <div class="col-6">
        <div class="card">
            <h6 class="card-header">Interventions</h6>
            <div class="card-body card-interventions">
                {{#each interventions}}
                <div data-row="{{@key}}" class="row align-items-center">
                    <div>
                        <span class="modal-drag"></span>
                    </div>
                    <div class="col modal-intervention-title">
                        <input type="text" class="form-control form-parameter" placeholder="Add an Intervention" data-color="{{Color}}" data-id="{{Id}}" value="{{Title}}">
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <h6 class="card-header">Outcomes</h6>
            <div class="card-body card-outcomes">
                {{#each outcomes}}
                <div data-row="{{@key}}" class="row align-items-center">
                    <div>
                        <span class="modal-drag"></span>
                    </div>
                    <div class="col modal-outcome-title">
                        <input type="text" class="form-control form-parameter" placeholder="Add an Outcome" data-id="{{Id}}" value="{{Title}}">
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>