<div class="container shadow p-3 mb-5 bg-white rounded">
    <h6 class="container-title">Knowledge Gap Map</h6>
    <div class="row gapmap-container">
        <table class="gapmap-table table">
            <thead>
                <tr>
                    <th scope="col" class="border-top-0 border-right border-bottom-0">
                        <div class="top-right">Outcomes</div>
                        <div class="bottom-left">Interventions</div>
                    </th>
                    {{#each outcomes}}
                    <th scope="col" class="border-top-0 border-right border-bottom-0">{{this.Title}}</th>
                    {{/each}}
                    <th scope="col" class="border-top-0 border-left border-bottom-0 font-weight-bold">Total</th>
                </tr>
            </thead>
            <tbody>
                {{#each interventions}}
                <tr>
                    <td scope="row" class="border-right">{{this.Title}}</td>
                    {{#each ../outcomes}}
                    {{{filterData @../index @index}}}
                    {{/each}}
                    <td class="border-left">{{filterInterventions Title}}</td>
                </tr>
                {{/each}}
                <tr>
                    <td scope="row" class="border-right border-bottom-0 font-weight-bold">Total</td>
                    {{#each outcomes}}
                    <td class="border-right border-bottom-0">{{filterOutcomes Title}}</td>
                    {{/each}}
                    <td class="border-left border-bottom-0 font-weight-bold">{{getGapmapTotal}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="gapmap-legend row">
        {{#isEqual view 0}}
            {{> studyViewLegend}}
        {{/isEqual}}
        {{#isEqual view 1}}
            {{> impactViewLegend}}
        {{/isEqual}}
    </div>
</div>